.container {
    text-align: center;
    margin-top: 23px;
}

table {
    margin: auto;
}

input {
    border: 5px solid #244624;
    font-size: 34px;
    border-radius: 21px;
    height: 40px;
    width: 460px;
}

button {
    font-size: 40px;
    background: #e5ff00;
    width: 102px;
    height: 90px;
    margin: 6px;
    border-radius: 20px;
}

.calculator {
    background-color: #23f558;
    padding: 20px;
    border-radius: 53px;
    display: inline-block;
}

.payal {
    font-family: sans-serif;
    font-weight: bold;
}